@model PresentationMVC.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm("Login","Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <fieldset>
            <legend>Введите учетные данные</legend>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Email)*@
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Войти" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Назад", "Index", "Home") |
        @Html.ActionLink("Регистрация", "Register")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
