@model BLL.DTO.QuestionDto

@{
    ViewBag.Title = "Ответы";
}

<h2>Ответы</h2>
<p>
    @Html.ActionLink("Добавить вариант ответа", "Create", "Answers", new { questionId = ViewBag.QuestionId }, null)
</p>
<div>
    <h4>@Model.QuestionContent</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Варианты ответов</th>
                <th>Правильный ответов</th>
            </tr>
        </thead>

        @foreach (var innerItem in Model.Answers)
        {
            <tbody>
                <tr>
                    <td>@innerItem.ContentAnswer</td>
                    <td>
                        @if (innerItem.IsTrue)
                        { <span>Верный</span> }
                        else
                        { <span>Не верный</span>}
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", "Answers", new { id = innerItem.AnswerId, questionId = ViewBag.QuestionId }, null) |
                        @Html.ActionLink("Удалить", "Delete", "Answers", new { id = innerItem.AnswerId, questionId = ViewBag.QuestionId }, null)
                    </td>
                </tr>
            </tbody>

        }
        @*@foreach (var theme in Model.Themes)
            {
                <td>

                </td>
            }*@
    </table>

</div>
<p>
    @Html.ActionLink("Назад", "Details", "Tests", new { id = Model.TestId }, null)
</p>
