@model UI.Models.ViewModels.TestViewModel

@{
    //TODO: make thies image full screen.
    //TODO: make a new VIEW. Not a part of layout
}
<div id="image" class="col-lg-12">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>

<div>
    <h4>Информация о тесте</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название теста
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Количество вопросов
        </dt>

        <dd>
            @Model.Questions.Count
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @{ int duration = Model.Duration / 60; }
            @duration мин.
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Complexity)
        </dt>

        <dd>
            @Model.Complexity
        </dd>
    </dl>
</div>
@if (Model.Questions.Count == 0)
{
    <p style="color: red">Тест еще в стадии разработки.</p>
}


<div class="buttons" id="left">
    <a href="@Url.Action("List", "Catalog")" class="btn btn-default btn-block">Назад</a>
</div>

@if (User.IsInRole("User"))
{
    <div>Для прохождения теста необходимо пройти регистрацию или войти в аккаунт</div>

    <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Пройти тест</a>
}
else
{
    
    <div class="buttons" id="right">
        <a class="btn btn-primary btn-block" data-toggle="modal" href="@Url.Action("Login", "Account")">Пройти тест</a>
    </div>

}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Name</h4>
            </div>
            <div class="modal-body">
                <p>Вы собираетесь пройти тест "@Model.Name", продолжительностью @duration минут?</p>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Назад</a>
            @{
    //TODO: Появляется сбоку ползунок и двигает весь экран при появлении модального окна. Как убрать ползунок?
            }

            <a class="btn btn-primary" href="@Url.Action("Testing", "Examine", new { testId = Model.TestId } )">Пройти</a>
        </div>
    </div>
</div>

