@using PresentationMVC.Models.ViewModels
@model IList<PresentationMVC.Models.ViewModels.Question>
@{
    ViewBag.Title = "Testing";
}


<h2>Testing</h2>
<div>
    @using (Html.BeginForm("EndTest", "Examine", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        for (int i = 0; i < Model.Count(); i++)
        {
            <h4 class="protected">@Model[i].QuestionContent</h4>
            <hr />
            <ul class="Testing">
                @for (int j = 0; j < Model[i].Answers.Count(); j++)
                {
                    <li>
                        @if (Model[i].AnswerVariant == AnswerVarian.One)
                        {
                            @Html.RadioButtonFor(m => m[i].ChoosenAnswerGuid, Model[i].Answers[j].AnswerId)
                            @Html.HiddenFor(m => m[i].Answers[j].IsTrue)
                            @Html.HiddenFor(m => m[i].QuestionId)
                        }
                        else
                        {
                            @Html.CheckBoxFor(x => x[i].Answers[j].IsAnswered, false)
                            @Html.HiddenFor(x=>x[i].Answers[j].IsTrue)
                            @Html.HiddenFor(x => x[i].Answers[j].AnswerId)
                        }
                        <span class="protected">@Model[i].Answers[j].ContentAnswer</span> <br />
                    </li>
                }
            </ul>
        }
        <input type="submit" class="btn btn-success" value="Закончить тест">
    }
</div>
<p>
    @{
    //TODO: обработку на пустые radiobutton/checkbox
    //TODO: защита от дурака. предварительный выход из тестов. -1 попытка.
    //TODO: добавить таймер
    }


    @*@Html.ActionLink("Back to List", "List", "Catalog")*@
</p>