@using PresentationMVC.Models.ViewModels
@model IEnumerable<PresentationMVC.Models.ViewModels.Question>
@{
    ViewBag.Title = "Testing";
}


<h2>Testing</h2>
<div>
    @using (Html.BeginForm())
    {

        foreach (var item in Model)
        {
            <h4 class="protected">@item.QuestionContent</h4>
            <hr />
            <ul class="Testing">
                @foreach (var innerItem in item.Answers)
                {
                    <li>
                        @if (item.AnswerVariant == AnswerVarian.One)
                        {
                            @Html.RadioButton(item.QuestionId.ToString(), @innerItem.ContentAnswer)
                        }
                        else
                        {
                            @Html.CheckBox(item.QuestionId.ToString(), false)
                        }
                        <span class="protected">@innerItem.ContentAnswer</span> <br />
                    </li>
                }
            </ul>
        }



        <input type="submit" class="btn btn-success" value="Закончить тест">
    }
</div>
<p>
    @{
    //TODO: обработку на пустые radiobutton/checkbox
    //TODO: защита от дурака. предварительный выход из тестов. -1 попытка.
    //TODO: Запрет на копирование вопроса и вариантов ответва.
    }


    @*@Html.ActionLink("Back to List", "List", "Catalog")*@
</p>