@model DAL.Entities.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsTrue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTrue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrueAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrueAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnswerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
