@model IEnumerable<DAL.Entities.Answer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsTrue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrueAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentsAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsTrue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrueAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentsAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnswerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnswerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnswerId })
        </td>
    </tr>
}

</table>
