@model BLL.DTO.TestDto
@{
    ViewBag.Title = "Вопросы";
}

<h2>Ответы</h2>
<h4>Тест @Html.DisplayFor(model => model.Name)</h4>

<p>
    @Html.ActionLink("Добавить вопрос", "Create", "Questions", new { testId = ViewBag.TestId }, null)
</p>
<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Контент вопроса</th>
            </tr>
        </thead>

        @foreach (var innerItem in Model.Questions)
        {
            <tbody>
                <tr>
                    <td>@innerItem.QuestionContent</td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", "Questions", new { id = innerItem.QuestionId, testId = ViewBag.TestId }, null) |
                        @Html.ActionLink("К отвеам", "Details", "Questions", new { id = innerItem.QuestionId, testId = ViewBag.TestId }, null) |
                        @Html.ActionLink("Удалить", "Delete", "Questions", new { id = innerItem.QuestionId, testId = ViewBag.TestId }, null)
                    </td>
                </tr>
            </tbody>

        }
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { subjectId = Model.TestId }) |*@
    @Html.ActionLink("Back to List", "Details", "Subjects", new { subjectId = Model.SubjectId }, null)
</p>
