@model BLL.DTO.TestDto
@{
    ViewBag.Title = "Details";
}

<h2>Вопросы</h2>
<h4>Тест <a href="@Url.Action("Details", "Subjects", new { subjectId = Model.SubjectId })"> @Html.DisplayFor(model => model.Name)</a></h4>

<p>
    @Html.ActionLink("Create New", "Create", "Questions", new { testId = ViewBag.TestId }, null)
</p>
<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Контент вопроса</th>
            </tr>
        </thead>

        @foreach (var innerItem in Model.Questions)
        {
            <tbody>
                <tr>
                    <td>@innerItem.QuestionContent</td>
                    <td>
                        @Html.ActionLink("Edit question", "Edit", "Questions", new { id = innerItem.QuestionId, testId = ViewBag.TestId }, null) |
                        @Html.ActionLink("Go to answers", "Details", "Questions", new { id = innerItem.QuestionId, testId = ViewBag.TestId }, null) |
                        @Html.ActionLink("Delete question", "Delete", "Questions", new { id = innerItem.QuestionId, testId = ViewBag.TestId }, null)
                    </td>
                </tr>
            </tbody>

        }
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { subjectId = Model.TestId }) |*@
    @Html.ActionLink("Назад", "Details", "Subjects", new { subjectId = Model.SubjectId }, null)
</p>
