@model IEnumerable<UI.Models.ViewModels.SubjectViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quiz application</h1>
    <p class="lead">Проверьте свои знания</p>
    <p><a href="@Url.Action("List", "Catalog")" class="btn btn-primary btn-lg">Пройти тестирование  &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h1>News</h1>
        <h2>Недавно добавленные предметы</h2>
        <table class="table">
            <tr>
                <th>
                    Название предмета
                </th>
                <th>
                    Количество тестов
                </th>
                <th>
                    Тесты
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestAmount)
                    </td>
                    <td>
                        @foreach (var nestItem in item.Tests)
                        {
                            @Html.DisplayFor(modelItem => nestItem.Name);<br />
                        }
                    </td>
                </tr>

            }
        </table>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h2>Недавно добавленные тесты</h2>
        <table class="table">
            <tr>
                <th>
                    Название теста
                </th>
                <th>
                    Количество вопросов
                </th>
                <th>
                    Сложность теста
                </th>
            </tr>
            @foreach (var item in Model)
            {
                foreach (var item1 in item.Tests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Questions.Count)
                        </td>
                        <td>
                            @item1.Complexity

                        </td>
                    </tr>
                }
            }
        </table>

        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h2>Программы тестирования по предметам</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>