@model BLL.DTO.SubjectDto

@{
    ViewBag.Title = "Тесты";
}

<h2>Тесты</h2>
<h4>Предмет: @Html.DisplayFor(model => model.Name)</h4>

<p>
    @Html.ActionLink("Создать новый тест", "Create", "Tests", new { subjectId = ViewBag.SubjectId }, null)
</p>
<div>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Время</th>
            <th>Сложность</th>
            <th>Количество вопросов</th>
        </tr>
        </thead>

        @foreach (var innerItem in Model.Tests)
        {
            <tbody>
            <tr>
                <td>@innerItem.Name</td>
                <td>@{int x = innerItem.Duration; } @x мин.</td>
                <td>@innerItem.Complexity</td>
                <td>@innerItem.Questions.Count</td>
                <td>
                    @Html.ActionLink("Редактировть", "Edit", "Tests", new {id = innerItem.TestId, subjectId = ViewBag.SubjectId}, null) |
                    @Html.ActionLink("К вопросам", "Details", "Tests", new {id = innerItem.TestId, subjectId = ViewBag.SubjectId}, null) |
                    @Html.ActionLink("Удалить", "Delete", "Tests", new {id = innerItem.TestId, subjectId = ViewBag.SubjectId}, null)
                </td>
            </tr>
            </tbody>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Назад", "Index")
</p>
