@model IEnumerable<UI.Models.ViewModels.SubjectViewModel>


<h2>Предметы</h2>

<p>
    @Html.ActionLink("Создать предмет", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complexity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tests.Count)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { SubjectId = item.SubjectId }) |
                @Html.ActionLink("К тестам", "Details", new { SubjectId = item.SubjectId }) |
                @Html.ActionLink("Удалить", "Delete", new { SubjectId = item.SubjectId })
            </td>
        </tr>
    }

</table>
