@model PresentationMVC.Models.ViewModels.Test

@{
    //TODO: make thies image full screen.
    //TODO: make a new VIEW. Not a part of layout
}
<div id="image">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>

<div>
    <h4>Информация о тесте</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionAmount)
        </dt>

        <dd>
            @Model.Questions.Count
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @{ int duration = Model.Duration / 60; }
            @duration мин.
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Complexity)
        </dt>

        <dd>
            @Model.Complexity
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Themes)
        </dt>

        <dd>

        </dd>
    </dl>
    @foreach (var item in Model.Themes)
    {

        <div class="topic">
            @item.Name
        </div>
    }
    <div hidden="hidden">Для прохождения теста необходимо пройти регистрацию или войти в аккаунт</div>
</div>


@{
    //TODO: Убрать подчеркивание под ссылками у кнопок.
}
<div class="buttons" id="left">
        <a href="@Url.Action("List", "Catalog")">
            <button type="button" class="btn btn-default btn-block">Назад</button>
        </a>
</div>
<div class="buttons" id="right">
    <a href="#">
        <button type="button" class="btn btn-primary btn-block">Пройти тест</button>
    </a>
</div>
