@model PresentationMVC.Models.ViewModels.Test

@{
    //TODO: make thies image full screen.
    //TODO: make a new VIEW. Not a part of layout
}
<div id="image">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>

<div>
    <h4>Информация о тесте</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionAmount)
        </dt>

        <dd>
            @Model.Questions.Count
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @{ int duration = Model.Duration / 60; }
            @duration мин.
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Complexity)
        </dt>

        <dd>
            @Model.Complexity
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Themes)
        </dt>

        <dd>

        </dd>
    </dl>
    @foreach (var item in Model.Themes)
    {

        <div class="topic">
            @item.Name
        </div>
    }
    <div hidden="hidden">Для прохождения теста необходимо пройти регистрацию или войти в аккаунт</div>
</div>


@{
    //TODO: Убрать подчеркивание под ссылками у кнопок.
}
<div class="buttons" id="left">
    <a href="@Url.Action("List", "Catalog")" class="btn btn-default btn-block">Назад</a>
</div>

<div class="buttons" id="right">
    @*<button type="button" class="btn btn-primary btn-block">Пройти тест</button>*@
    <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Пройти тест</a>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Name</h4>
            </div>
            <div class="modal-body">
                <p>Вы собираетесь пройти тест "@Model.Name", продолжительностью @duration минут?</p>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Назад</a>
            @{
    //TODO: bad idea using buttons or not?
    //TODO: Появляется сбоку ползунок и двигает весь экран при появлении модального окна. Как убрать ползунок?
            }

            <a class="btn btn-primary" href="@Url.Action("Testing", "Examine", new { testId = Model.TestId } )">Пройти</a>
        </div>
    </div>
</div>

