@model UI.Models.ViewModels.TestPassViewModel

@{
    ViewBag.Title = "EndTest";
}

<h2>@Model.Test.Name</h2>


<table class="table-condensed">
    <tr>
        <td>Email: </td>
        <td>@User.Identity.Name</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Test.Duration)</td>
        <td>@Model.Test.Duration</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Score)</td>
        <td>@Model.Score</td>
    </tr>
</table>
<a class="btn btn-success" href="@Url.Action("List", "Catalog")">Закончить тест</a>