@model TestViewModel
@using UI.Models.ViewModels

@{
    ViewBag.Title = "Testing";
}


<h2>Testing</h2>
<div>
    @using (Html.BeginForm("EndTest", "Examine", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.Hidden("userId", Membership.GetUser().ProviderUserKey)
        for (int i = 0; i < Model.Questions.Count; i++)
        {
            <h4 class="protected">@Model.Questions[i].QuestionContent</h4>
            @Html.HiddenFor(x => x.Questions[i].QuestionId)
            <hr />
            <ul class="Testing">
                @for (int j = 0; j < Model.Questions[i].Answers.Count(); j++)
                {
                    @Html.HiddenFor(x => x.Questions[i].Answers[j].IsTrue)
                    @Html.HiddenFor(x => x.Duration)
                    @Html.HiddenFor(x => x.Name)
                    @Html.HiddenFor(x => x.TestId)
                    <li>
                        <label class="protected">
                            @if (Model.Questions[i].AnswerVariant == AnswerVarian.One)
                            {
@*                                @Html.RadioButtonFor(m => m.Questions[i].ChoosenAnswerId, Model.Questions[i].Answers[j].AnswerId)*@
@*                                @Html.HiddenFor(x => x.Questions[i].Answers[j].AnswerId)*@
                                @Html.RadioButtonFor(m => m.Questions[i].ChoosenAnswer, true)
                                @Html.HiddenFor(x => x.Questions[i].Answers[j].AnswerId)
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.Questions[i].Answers[j].IsAnswered)
                                @Html.HiddenFor(x => x.Questions[i].Answers[j].AnswerId)
                            }
                            @Model.Questions[i].Answers[j].ContentAnswer
                        </label>
                    </li>
                }
            </ul>
        }
        <input type="submit" class="btn btn-success" value="Закончить тест">
    }

</div>
<p>
    @{
        //TODO: защита от дурака. предварительный выход из тестов. -1 попытка.
        //TODO: добавить таймер
    }


</p>